<p><%=Date.today %></p>

<h1>Politizações</h1>

<table class="table table-striped">

  <thead>
    <tr>
      <th>Título</th>
      <th>Body</th>
      <th>Pontuação</th>

    </tr>
  </thead>

  <tbody>
    <% @politizacaos.each do |politizacao| %>
      <tr>
        <td><%= politizacao.title %></td>
        <td><%= simple_format(politizacao.body) %></td>
        <td><%= politizacao.ponto%></td>
        <td><%= link_to 'Show', politizacao %></td>
        <td><%= link_to 'Edit', edit_politizacao_path(politizacao) %></td>
        <td><%= link_to 'Destroy', politizacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
  </table>

<br>

<%= button_to "Nova Politização", new_politizacao_path, :class => "btn btn-primary", :method => :get %>






