<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @politizacao.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @politizacao.body %>
</p>

<%= link_to 'Edit', edit_politizacao_path(@politizacao) %> |
<%= link_to 'Back', politizacaos_path %>
