<p><%=Date.today %></p>

<% if notice %>
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong><p id="notice"><%= notice %></p></strong>
</div>
<% end %>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="raw">
      <div class="col-md-12">
        <div class="table-responsive">

          <table class="table table-striped">
            <thead>
              <tr>
                <th><strong>Título:</strong></th>
                <th><strong>Texto:</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><h4><%= @politizacao.title %></h4></td>
                <td><h5><%= @politizacao.body %></h5></td> <!--ver como funciona o simple_format no show-->
              </tr>
            </tbody>
          </table>

          <% if user_signed_in? %>
            <% if current_user.id.eql? @politizacao.user.id%>
              <%= link_to 'Editar Politização', edit_politizacao_path(@politizacao) %>
              <!-- Só pode editar politizacao, quem é dono dela-->
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
    <div class="raw clearfix">
      <div class="col-md-5">
        <div id="politizou">
         <h2><%= @politizacao.politizous.count %> Politizações</h2>
        <%= render @politizacao.politizous %>
        <%= render "politizous/form" %>

      </div>
    </div>
    <div class="col-md-5 pull-right">
      <div id="despolitizou">
        <h2> <%= @politizacao.despolitizous.count %> Despolitizações </h2>
        <%= render @politizacao.despolitizous %>

        <%= render "despolitizous/form" %>
      </div>
    </div>
  </div>
  <br/>


  <%= link_to 'Back', politizacaos_path %>

</div>
</div>

</div>
