<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container pull-right">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title pull-left">Julgue</h3>
          <div class="pull-right">
            <!-- Tabs -->
            <ul class="nav panel-tabs">
              <li class="active"><a href="#tab1" data-toggle="tab">Por que Politizou?</a></li>
              <li><a href="#tab2" data-toggle="tab">Por que Despolitizou?</a></li>
            </ul>
          </div>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
              <p><img src="imagem/img04(speakerLoud).png" alt="#" height="35" width="35">   Por que Politizou?</p>
              <%= form_for([@politizacao, @politizacao.politizous.build]) do |f| %>
              <p>
                <%= f.label :body %><br>
                <%= f.text_area :body %><br>
              </p>
              <br>
              <% if user_signed_in? %>
              <p>
                <%= f.submit %>
              </p>
              <% end %>
              <% end %>
            </div>
            <div class="tab-pane" id="tab2">
              <p><img src="imagem/img03(notSpeaker).png" alt="#" height="42" width="42">   Por que despolitizou?</p>
              <%= simple_form_for([@politizacao, @politizacao.despolitizous.build]) do |f| %>
              <p>
                <%= f.label :body %><br>
                <%= f.text_area :body %><br>
                <br/>
                <br>
                <% if user_signed_in? %>
                <p>
                  <%= f.submit %>
                </p>
                <% end %>
                <% end %>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
