  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
                <h1 class="titulo">Site em construção! </h1>
            </div>
            <div class="col-md-6 ranking">
              <div class="panel panel-default">
                <div class="panel-heading">Politizadores
                </div>
                <table class="table">
                <% for user in @user do %>
                  <tr>
                  <td><%= user.email %></td>
                   <td><%= user.pontos %> Pontos</td>
                  </tr>
                <% end %>
                </table>

                </div>
            </div>
          </div>
        </div>

        <div class="row">
          <p><h1 class="titulo" >As Mais Politizadas</h1></p>
             <table class="table table-hover">
          <thead>
          <tr>
            <th>Título</th>
            <th>Texto</th>
             <th>Politização</th>
             <th>Despolitização</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @maior_politizada.title %></td>
              <td><%= @maior_politizada.body %></td>
              <td><%= @maior_politizada.politizous.count %></td>
              <td><%= @maior_politizada.despolitizous.count %></td>
            </tr>
          </tbody>
          </table>
        </div>

      </div>

      <p><%=Date.today %></p>
      <h1 class="titulo" >Últimas Politizações</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Título</th>
            <th>Texto</th>
            <th>Politização</th>
            <th>Despolitização</th>
          </tr>
        </thead>
        <tbody>
          <% @politizacaos.each do |politizacao| %>
          <tr>
            <td><%= politizacao.title %></td>
            <td><%= simple_format(politizacao.body) %></td>
            <!-- <td><%= politizacao.ponto%></td> -->
            <td><%= politizacao.politizous.count %></td> <td><%= politizacao.despolitizous.count %></td>
            <td>
              <div class="btn-group pull-right" role="group">
                <%= link_to 'Mostrar', politizacao, :class => "btn btn-default btn-sm"%>
                <% if politizacao.user == current_user %>
                <%= link_to 'Editar', edit_politizacao_path(politizacao), :class => "btn btn-default btn-sm" %>
                <%= link_to 'Apagar', politizacao, method: :delete, data: { confirm: 'Você tem certeza disso?' },  :class => "btn btn-default btn-sm" %>
                <% end %>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <%= will_paginate @politizacaos, renderer: BootstrapPagination:: Rails, previous_label: "Anterior", next_label: "Próxima", inner_window: 1, outer_window: 1 %>
      <br>
      <%= button_to "Nova Politização", new_politizacao_path, :class => "btn btn-primary", :method => :get %>
      <br/>
      <br/>


    </div>
  </div>
</div>

